<?xml version="1.0" encoding="UTF-8"?>

<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">

    <file>bin/</file>
    <file>config/</file>
    <file>public/</file>
    <file>src/</file>
    <file>tests/</file>

    <exclude-pattern>*/Enum/*</exclude-pattern>

    <rule ref="./vendor/escapestudios/symfony2-coding-standard/Symfony/ruleset.xml" />
    <rule ref="Generic.Arrays.DisallowLongArraySyntax" />
    <rule ref="Symfony.Commenting.License">
        <severity>0</severity>
    </rule>

</ruleset>
